<div class="container-fluid text-white text-center p-2 bg-dark mt-5">
    <a href="#" class="mt-4"><img class=" footer-logo" src="assets/images/footer-logo-apzel.png" alt=""></a> 
    <div class="footer-social">
        <ul class="mt-4">
            <li class="lifirstc"><i class="fa fa-facebook" aria-hidden="true"><a href="http://www.facebook.com" title="facebook sayfamız" target="_blank"> </a></i></li>
            <li class="lifirstc"><i class="fa fa-twitter" ><a href="twitter"  title="twitter" target="_blank"> </a></i></li>
            <li class="lifirstc"><i class="fa fa-linkedin" aria-hidden="true"><a href="linkedlin"  title="link edin" target="_blank"></a></i></li>
            <li class="lifirstc"><i class="fa fa-facebook"><a href="masanger"  title="masanger" target="_blank"> </a></i></li>
            <li class="lifirstc"><i class="fa fa-github"><a href="github"  title="github" target="_blank"> </a></i></li>
        </ul>
    </div>
    <hr class="mt-4" >
    <ul class="mt-4">
        <li class="lifirstc">Services</li>
        <li class="lifirstc">Support</li>
        <li class="lifirstc">Privaci Policy</li>
        <li class="lifirstc">FAQ's</li>
        <li class="lifirstc">Contact</li>
    </ul>
      <p class="mt-4 coppyrightc">Copyright @2021 <strong>Apzel</strong>. All Rights Reserved by <strong>EnvyTheme</strong></p>
  </div>