

<div class="container-fluid p-5 headerr text-white text-center">

    <div class="header-logo-menu">
    <div><img src="assets/images/logo-apzel.png" alt=""></div>

        <div class="topnav" id="myTopnav">
            
        <a href="#home">Home</a>  
        <a href="#news">About Us</a>
        <a href="#contact">Pages</a>
        <a href="#about">Shop</a>
        <a href="#contact">Blog</a>
        <a href="#about">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
        
    </div>
</div>
<hr>
    <div class="mt-5">
        <h1>Product Details</h1>
        <ul> 
            <li class="liilk">Home</li>
            <li class="liiki">Product Details</li>
         </ul>
    
 </div>
</div>