<div class="ratingAvarage">
    <h3>Product Rating</h3>
    <div class="rating">
      <p>    
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    </p>
    </div>
    <div class="rating-counter"><span>4.1 avarage based on error tane xd revives</span></div>
  </div>
  <div class="comments-section">
    <h3>error tane xd Reviwes <br/></h3>
    <div class="commentRev container-fluid"  *ngFor="let row of commentData">
      <div class="row">
      <div class="col-md-2">
      <img class="comsubImg" src="{{row.img}}" alt="image/jpg">
    </div>
    <div class="col-md-10 relativeSet">  
    <div class="comsubStar">
        <p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </p>
      </div>
      <span class="comsubName"><b>{{row.firstName}}</b></span>
      <p class="comsubRev">{{row.revive}}</p>
    </div>
  </div>

  </div>
</div>

  
 
<app-revive-func></app-revive-func>