<div class="commentSec" style="margin-top: 15px;">
    <h3>Add a review</h3>
    <p>Your email address will not be published. Required fields are marked<span> *</span></p>

    <form [formGroup]="formValue">
      <div class="row">
        <div class="col-md-12"><span *ngFor="let star of stars; let i = index" (click)="rate(i + 1)">
          <ng-container *ngIf="star; else noStar"><span class="fa fa-star checked"></span></ng-container>
          <ng-template #noStar><span class="fa fa-star unchecked"></span></ng-template>
        </span>
        </div>
        <div class="col-md-6"><input type="text" formControlName="firstName" placeholder="Name *"></div>
        <div class="col-md-6"><input  type="text" formControlName="email" placeholder="Email *" /></div>
        <div class="col-md-12"><textarea name="" id=""  cols="30" rows="10" type="text" formControlName="revive" placeholder="Your review"></textarea></div>
        <div class="col-md-12"><input class="chackboxSet" type="checkbox" formControlName="checkBox">
        <label class="labelSet" for="test1">Save my name, email, and we bsite in this browser for the next time I comment.</label></div>
         </div>
    </form>
    <div class="col-md-12"><button (click)="postCommentDetails()" type="button" class="text-white btn btn-md submitBtn">Submit</button></div>
     
  </div>